<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>Clinostat Controller</title>
  </meta>
  <head>
    <script src="./js/vue.2.1.4.js"></script>
  </head>
  <body>
<div id="motors">
      <h1>
      <img width=48px src="images/rocket.svg.png"/></object>
      Clinostat controller
      <img width=48px src="images/rocket.svg.png"/></object>
      <hr/>
      </h1>
      <p>{{ cnx_msg }}</p>
      <div id="motor1">
      <span id="icon"><h2>Motor 1</h2></span>
      <span id="motor1_enabled"><img v-on:click="motor_switch(0)" width=48px :src="motors[0].icon"/></span>
      <span id="input"><input v-on:change="motor_speed_change(0)"
                              v-model="motors[0].speed"
                              type="range" min="0" max="1000">
      <span id="input"><input v-on:change="motor_speed_change(0)"
                              v-model="motors[0].speed"
                              type="number" min="0" max="10000">
      </div>

      <div id="motor2">
      <div id="icon"><h2>Motor 2</h2></div>
      <span id="motor2_enabled"><img v-on:click="motor_switch(1)" width=48px :src="motors[1].icon"/></span>
      <span id="input"><input v-on:change="motor_speed_change(1)"
                              v-model="motors[1].speed"
                              type="range" min="0" max="1000">
      <span id="input"><input v-on:change="motor_speed_change(1)"
                              v-model="motors[1].speed"
                              type="number" min="0" max="10000">
      </div>

</div>
<script src="./js/vue.js"></script>
<script src="./js/mqttws31.min.js" type="text/javascript"></script>
<script src="./js/mqtt.js"></script>

</body>
 </html>
